---
title: API catalogue publish guide | Example APIs
weight: 70
---

# Example OpenAPI Specifications

Below are some examples of good content in the API catalogue. You can see what a good API looks like,
as well as look at good examples of how to specify different REST / OpenAPI specification capabilities in an API.

<%= warning_text('The following links below are to our test API catalogue. Any content here may not be correct and should not be used as API documentation.<p>The production API catalogue is available <a href="https://admin.tax.service.gov.uk/api-catalogue">here</a></p>') %>

## API Examples

[Individuals Tax Relief For Kitten Ownership](https://test-admin.tax.service.gov.uk/api-catalogue/integrations/35b40c37-af13-4815-bb24-3b1bda7afd4e/individuals-tax-relief-for-kitten-ownership)

[Check a UK EORI Number - API Platform](https://test-admin.tax.service.gov.uk/api-catalogue/integrations/a3f090bc-bae4-4f56-b81c-8159021c3af6/check-a-uk-eori-number-example)

[UK EORI Checker - CMA Platform](https://test-admin.tax.service.gov.uk/api-catalogue/integrations/60da3427-34ed-4685-9079-2fe5a6bea3f4/uk-eori-checker-example)

[Create or Amend PSP Subscription - IF Platform](https://test-admin.tax.service.gov.uk/api-catalogue/integrations/35152242-1b14-4c02-aa94-43ea1b517a3c/api-1658-create-or-amend-psp-subscription)

## OpenAPI Specification examples

- [Basic OAS](https://test-admin.tax.service.gov.uk/api-catalogue/integrations/7db37f74-073b-4c42-9406-e969bb23ad9f/test-api-001-basic-oas-rendering)
- [OAS with example JSON](https://test-admin.tax.service.gov.uk/api-catalogue/integrations/f944a33c-4846-43b6-bcc6-849a7174093c/test-api-002-oas-with-examples)
- [OAS with rish schemas](https://test-admin.tax.service.gov.uk/api-catalogue/integrations/aa88a3f0-e56f-40bf-8e5d-a321749ff9c7/test-api-003-rich-oas-schemas)
- [OAS with markdown](https://test-admin.tax.service.gov.uk/api-catalogue/integrations/b5d8ae55-2f6d-4729-9cf8-8a06ab740c8d/test-api-004-oas-with-markdown)


[List of all examples](https://test-admin.tax.service.gov.uk/api-catalogue/search?keywords=TESTTAG)
