---
title: API catalogue publish guide | Getting it right
weight: 60
---

# Getting it right

Decide if you want to publish an API or file transfer.

See the reference guide for OpenAPI Specification (OAS) requirements and file transfer definitions. NEED LINKS.

## If you have OAS files

We recommend you take these steps. 

- Use the API catalogue API to publish one API or file transfer first. 
- Bulk publish your APIs and file transfers using the API catalogue tools.
- See if there’s a way to automate publishing and updating APIs and file transfers.

## If you don’t have OAS files

You can use the API catalogue tools to create OAS files for APIs and file transfers using a CSV file.

[See the recommended CSV format](https://github.com/hmrc/integration-catalogue-tools#format-of-the-csv)</a>.

## Publishing quality content 

You cannot publish personal identification information (PII), offensive or inappropriate content. You are responsible for content about your API or file transfer. 

See examples of good APIs and file transfers in the API catalogue. NEEDS LINK.

## Handling platform connectivity issues

If you use the stride network or the corporate VPN you can access the API catalogue and the API catalogue publish API. 

Check you have access to the API catalogue by browsing or CURLing the URL:

```
curl 'https://admin.tax.service.gov.uk/integration-catalogue-admin-api/services/integrations?platformFilter=API_PLATFORM&searchTerm=%22Check%20a%20UK%20EORI%20Number%22'
```

Contact the API catalogue team on example@example.xom if you cannot access the URL. 
