---
title: API catalogue publish guide | Ways to publish on the API catalogue
weight: 20
---


# Ways to publish on the API catalogue

## Publishing APIs
The API catalogue uses the [OpenAPI 3 Specification](https://www.openapis.org/) (OAS) to document APIs. OAS  is recommended by the Open Standards Board and Government Digital Service.
 
Your OAS must include:

- the API title 
- a short API description up to 180 characters including spaces
- a publisher reference number used to identify your API
- a platform identifier given to you by us

For full details see : blah TODO

Check the GOV.UK Design System for [ways to document your API](https://www.gov.uk/guidance/gds-api-technical-and-data-standards#document-your-api) and [guidance on writing API reference documentation](https://www.gov.uk/guidance/writing-api-reference-documentation). 
## Publishing file transfers

You can publish file transfers on the API catalogue.

You can bulk generate file transfer definitions from a CSV file using Excel or Google Sheets. 

Your file transfer definition must include:

- the title of your file transfer
- a short file transfer description up to 180 characters including spaces
- a publisher reference number used to identify your file transfer
- a platform identifier given to you by us

See [schema](/documentation/api-catalogue-file-transfer-reference.html#schema) for full details.

## Using the API catalogue publish API

Read the <a href="<%=config[:tech_docs][:publish_api_link] %>" target="blank">technical specification (opens in a new tab)</a> of the API catalogue publish API for full details.

## Using the API catalogue tools to publish content

The API catalogue publish tools let you:

- generate OpenAPI Specification (OAS) files
- generate file transfer definition files
- bulk publish OAS or file transfer definition files

See the <a href="https://github.com/hmrc/integration-catalogue-tools#readme" target="blank">integration-catalogue-tools (opens in a new tab)</a> for how to use the API catalogue tooling.

## Using CURL to publish content

The API catalogue API can be used directly from CURL. For example;

```
curl -X 'PUT' \
  'https://admin.tax.service.gov.uk/integration-catalogue-admin-api/services/apis/publish' \
  -H 'accept: application/json' \
  -H 'x-specification-type: OAS_V3' \
  -H 'Authorization: <my-key>' \
  -H 'Content-Type: multipart/form-data' \
  -F 'selectedFile=@my-api-oas.yaml'
```
