openapi: 3.0.0
servers:
  - description: MDTP - Production
    url: https://admin.tax.service.gov.uk/integration-catalogue-admin-api
  - description: MDTP - QA
    url: https://admin.qa.tax.service.gov.uk/integration-catalogue-admin-api
  - description: Localhost
    url: http://localhost:11114/integration-catalogue-admin-api
info:
  version: "0.2"
  title: Publish API for the API catalogue
  description: |
    This lets you create, update and delete content in the API catalogue.
    This is intended to be used by platform teams to publish APIs and file
    transfers into the API catalogue.
    To use this API you will need to know: 
      - Which platform your API or file transfer belongs to
      - The API key for that platform
    
    **PublisherReference & Platform**

    Each integration (API or file transfer) in the catalogue has a 
    publisherReference and a platform code. We use these when content is pushed
    (PUT) into the API to decide which integration to update, or if a integration 
    is to be created.
  #TODO
  # contact:
  #   name: API catalogue
  #   email: who@example.com
  x-integration-catalogue:
    platform: API_PLATFORM
    publisher-reference: publish-api
    short-description: |
      The publish API for the API catalogue. This lets you create, update and
      delete content in the API catalogue.
paths:
  /services/apis/publish:
    put:
      tags:
        - Publishing
      security:
        - ApiKeyAuth: []
      description: |
        Create or update an API with the uploaded OpenAPI Specification.
      parameters:
        - in: header
          name: x-platform-type
          description: |
            The platform
          required: true
          schema:
            $ref: "#/components/schemas/PlatformType"
        - in: header
          name: x-publisher-reference
          description: |
             Must be specified in either this header or the OpenAPI Specification
             file as an `x-integration-catalogue` OpenAPI specification extension.
             
             It is **recommended** that it is included in the OpenAPI Specification
             files as an extension, and that this header is not used.
          required: false
          schema:
            type: string
            example: API-1234
        - in: header
          name: x-specification-type
          description: |
            Set to `OAS_V3` to represent an OpenAPI Specification
            version 3 file.
          required: true
          schema: 
            type: string
            enum:
              - OAS_V3
      requestBody:
        description: |
          The content of the OpenAPI Specification file is posted as
          multi-part form data.
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                selectedFile:
                  type: string
                  format: binary
                  example: |
                    openapi: 3.0.0
                    info:
                      version: '0.1'
                      title: My new API
                      ...
      responses:
        '201':
          description: |
            Created a new API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api'
        '200':
          description: |
            Updated an existing API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api'
        '400':
          description:
            Failed to create or update an API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /services/filetransfers/publish:
    put:
      tags:
        - Publishing
      security:
        - ApiKeyAuth: []
      description: |
        Create or updates a file transfer
      requestBody:
        description: |
          The file transfer definition
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FileTransfer'
      responses:
        '201':
          description: |
            Created a file transfer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api'
        '200':
          description: |
            Updated a file transfer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Api'
        '400':
          description:
            Failed to create or update a file transfer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
  /services/integrations:
    get:
      description:
        This gets all the integrations (APIs or file transfers) in the API 
        catalogue
      tags:
        - Managing
      parameters:
        - in: query
          required: false
          name: platformFilter
          schema:
            $ref: "#/components/schemas/PlatformType"
        - in: query
          required: false
          name: searchTerm
          schema:
            type: string
      responses:
        "200":
          description:
            An array of APIs or file transfer resources
          content:
            application/json:
              schema: 
                type: array
                items: 
                  $ref: '#/components/schemas/ApiArrayResult'
    delete:
      tags:
        - Managing
      security:
        - ApiKeyAuth: []
      description:
        Deletes all content in the catalogue for a platform. This cannot be undone.
      parameters:
        - in: query
          required: true
          name: platformFilter
          schema:
            $ref: "#/components/schemas/PlatformType"
      responses:
        "200":
          description: |
            All content for the platform was deleted successfully
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/DeletePlatformResponse'
  /services/integrations/{api-id}:
    get:
      description: 
        Returns a single integration (API or file transfer)
      tags:
        - Managing
      parameters:
        - in: path
          required: true
          name: api-id
          description: |
            The id of the integration (API or file transfer)
          schema:
            $ref: '#/components/schemas/ApiId'
      responses:
        "200":
          description: |
            The resource for the integration (API or file transfer)
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ApiFull'
    delete:
      description: |
        Deletes content from the API catalogue. This cannot be undone.
      tags:
        - Managing
      security:
        - ApiKeyAuth: []
      parameters:
        - in: path
          required: true
          name: api-id
          description: |
            The id of the integration (API or file transfer)
          schema: 
            $ref: '#/components/schemas/ApiId'
      responses:
        "204": 
          description: |
            The resource was deleted successfully
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: |
        This can be obtained from the API catalogue team
  schemas:
    Api:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/ApiId'
        publisherReference :
          $ref: '#/components/schemas/PublisherReference'
        platformType:
          type: string
          example: IF
    ApiArrayResult:
      type: object
      properties:
        count:
          type: integer
        results:
          type: array
          items:
            $ref: '#/components/schemas/ApiFull'
    ApiFull:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/ApiId'
        publisherReference :
          $ref: '#/components/schemas/PublisherReference'
        platform:
          type: string
          example: IF
        specificationType:
          type: string
          enum:
            - OAS_V3
        title:
          type: string
          example: My API title
    FileTransfer:
      type: object
      properties:
        fileTransferSpecificationVersion:
          description: |
            Must be 0.1
          type: string
          example: "0.1"
        publisherReference:
          $ref: '#/components/schemas/PublisherReference'
        platformType:
          $ref: '#/components/schemas/PlatformType'
        title:
          type: string
          example: BBSI to DPS file transfer
        description:
          type: string
          example: 
            A file transfer from Bank and Building Society Interest (BBSI) to
            Data Provisioning Systems (DPS)
        lastUpdated:
          description: |
            This is shows on the details page in the catalogue
          type: string
          format: date-time
          example: "2021-01-01T13:00:00Z"
        contact:
          $ref: '#/components/schemas/ContactInformation'
        sourceSystem:
          type: array
          items:
            type: string
            example: BBSI
        targetSystem:
          type: array
          items:
            type: string
            example: MDTP
        fileTransferPattern:
          type: string
          example: Corporate to corporate
    PlatformType:
      type: string
      enum:
        - API_PLATFORM
        - DES
        - CDS_CLASSIC
        - CMA
        - CORE_IF
      example: DES
    ContactInformation:
      type: object
      properties:
         name: 
            type: string
            example: Forename Surname
         emailAddress: 
            type: string
            example: forename.surname@example.com
    Errors:
      type: object
      properties:
        errors:
          type: array
          items:
            $ref: '#/components/schemas/Error'
    Error:
      type: object
      properties:
        message:
          type: string
          example: Unable to parse file line 50
    ApiId:
      type: string
      format: uuid
      example: 2e9772e9-3c6a-4f1b-a9a3-0b205cbca4fb
    PublisherReference:
      type: string
      example: my-ref-1234
    DeletePlatformResponse:
        type: object
        properties:
          numberOfIntegrationsDeleted:
            type: integer
            example: 10
        